
.cont{
    color:blue;
    font-size:22px;
    text-align :center;

}
.text{
    display: grid;
    gap:2rem;
    padding: 1rem;


.fb{
  width: 15rem;
  margin-left: 39rem;
  
}
header{
  height: 5rem;

}